


<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
            </div>
        </div>
    </div>
</div>




   

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>UI/UX Designer</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div *ngIf="!loading && isNotEmpty()" class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <!-- <a href="#"><img width="85px"  src="C:\Users\Linton\Desktop\1122.jpg" alt=""></a> -->
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{person.name}} {{person.lastName}}</h4>
                                    </a>
                                    <ul>
                                        <li>Creative Agency</li>
                                        <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                        <li>$3500 - $4000</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>About Me</h4>
                                </div>
                                <p>{{person.about}}</p>
                            </div>





                            <div class="post-details2  mb-50">
                                <!-- Small Section Tittle -->
                               <div class="small-section-tittle">
                                        <div style="display: flex; ">
                                            <div>
                                                <h4>Experience</h4>
                                            </div>
        
                                            <div style="display: flex; margin-left: auto;">
        
                                                <a data-toggle="modal" data-target="#workingExperienceAddModal"
                                                style="margin-left:auto; 
                                                color: #fb246a; 
                                                font-size:20px;" 
                                                ><i class="fa fa-add"></i></a>
                
                                                <a routerLink="/persons/specify-profile/experiences/edit/{{person.id}}"
                                                style="color: white;  
                                                color: #fb246a;
                                                margin-left: 20%;
                                                font-size:20px;
                                                "><i class="fa fa-edit"></i></a>
        
                                            </div>
                                        </div>
                               </div>
                              <ul>
                                <div *ngFor="let item of person.workingExperiences; index as i">
                                    <li> {{ item.name }} </li>
                                    <li style="list-style: none;"> {{ item.description }} </li>
                                    <li style="list-style: none;"> {{ item.startDate }} </li>
                                    <li style="list-style: none;"> {{ item.finishDate }} </li>
                                    <li style="list-style: none;"> {{ item.isPresent }} </li>
                                </div>
                              </ul>
                           </div>







                            <div class="post-details2  mb-50">
                                <!-- Small Section Tittle -->
                               <div class="small-section-tittle">
                                        <div style="display: flex; ">
                                            <div>
                                                <h4>Skills</h4>
                                            </div>
        
                                            <div style="display: flex; margin-left: auto;">
        
                                                <a data-toggle="modal" data-target="#skillAddModal"
                                                style="margin-left:auto; 
                                                color: #fb246a; 
                                                font-size:20px;" 
                                                ><i class="fa fa-add"></i></a>
                
                                                <a routerLink="/persons/specify-profile/skills/edit/{{person.id}}"
                                                style="color: white;  
                                                color: #fb246a;
                                                margin-left: 20%;
                                                font-size:20px;
                                                "><i class="fa fa-edit"></i></a>
        
                                            </div>
                                        </div>
                               </div>
                              <ul>
                                <div *ngFor="let item of person.skills; index as i">
                                    <li> {{ item.name }} </li>
                                </div>
                              </ul>
                           </div>
                        </div>
                    </div>

                    
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <img width="310px"  src="C:\Users\Linton\Desktop\1122.jpg" alt="">
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <!-- <div class="small-section-tittle">
                               <h4>Company Information</h4>
                           </div>
                              <span>Colorlib</span>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->
                            <ul>
                                <li>Skype: <span>{{person.skype}} </span></li>
                                <li>Web : <span> {{person.website}}</span></li>
                                <li>Email: <span>{{person.email}}</span></li>
                                <li>Phone: <span>{{person.phone}}</span></li>
                            </ul>
                       </div>
                    </div>
                </div>
                <!-- <button routerLink="/persons/profile/view/{{person.id}}"
                style="color: white;  
                display: inline-block;
                width: 100px; 
                border: none; 
                border-radius: 4px; 
                background-color: #fb246a;
                padding: 5px;
                margin-top: 18px;
                margin-left: 100%;
                ">UPDATE</button> -->
            </div>
        </div>

        

 




    

    <div class="modal fade" id="workingExperienceAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Experience</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
           
            <div class="modal-body">
              <input [(ngModel)]="workingExperience.personsId" name="personsId" class="modalTextInput form-control" placeholder="Enter personsId" />
            </div>
      
              <div class="modal-body">
                <input [(ngModel)]="workingExperience.name" name="name" class="modalTextInput form-control" placeholder="Enter Name" />
              </div>

              <div class="modal-body">
                <input [(ngModel)]="workingExperience.description" name="description" class="modalTextInput form-control" placeholder="Enter Name" />
              </div>

              <div class="modal-body">
                <input [(ngModel)]="workingExperience.startDate" name="startDate" class="modalTextInput form-control" placeholder="Enter Name" />
              </div>

              <div class="modal-body">
                <input [(ngModel)]="workingExperience.finishDate" name="finishDate" class="modalTextInput form-control" placeholder="Enter Name" />
              </div>

              <div class="modal-body">
                <input [(ngModel)]="workingExperience.isPresent" name="isPresent" class="modalTextInput form-control" placeholder="Enter Name" />
              </div>

              <div class="modal-footer">
                <button (click)="addWorkingExperience()" type="submit" class="saveEdit btn btn-primary">Save changes</button>
              </div>
         
          </div>
        </div>
      </div>  




      
      <div class="modal fade" id="skillAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Skill</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
           
            <div class="modal-body">
              <input [(ngModel)]="workingExperience.personsId" name="personsId" class="modalTextInput form-control" placeholder="Enter personsId" />
            </div>
      
              <div class="modal-body">
                <input [(ngModel)]="workingExperience.name" name="name" class="modalTextInput form-control" placeholder="Enter Name" />
              </div>
         
              
              <div class="modal-footer">
                <button (click)="addSkill()" type="submit" class="saveEdit btn btn-primary">Save changes</button>
              </div>

          </div>
        </div>
      </div> 