


<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
            </div>
        </div>
    </div>
</div>

<body>
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>UI/UX Designer</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div *ngIf="!loading && isNotEmpty()" class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <!-- <a href="#"><img width="85px"  src="C:\Users\Linton\Desktop\1122.jpg" alt=""></a> -->
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{person.name}} {{person.lastName}}</h4>
                                    </a>
                                    <ul>
                                        <li>Creative Agency</li>
                                        <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                        <li>$3500 - $4000</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>About Me</h4>
                                </div>
                                <p>{{person.about}}</p>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Required Knowledge, Skills, and Abilities</h4>
                                </div>
                               <ul>
                                   <li>System Software Development</li>
                                   <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>
                                   <li>Research and code , libraries, APIs and frameworks</li>
                                   <li>Strong knowledge on software development life cycle</li>
                                   <li>Strong problem solving and debugging skills</li>
                               </ul>
                            </div>


                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4 style="display: inline-block;">Education</h4> 
                                    <button (click)="addNewEducation()"
                                    style="color: white;  
                                    display: inline-block;
                                    width: 100px; 
                                    border: none; 
                                    border-radius: 4px; 
                                    background-color: #fb246a;
                                    padding: 5px;
                                    margin-top: 18px;
                                    margin-left: 70%;
                                    ">+</button>
                                </div>
                               <ul>
                                <div *ngFor="let item of person.educations; index as i">
                                    <li *ngIf="!isEditEducation"> {{ item.name }}</li>
                                    <p *ngIf="!isEditEducation"> {{ item.description }} </p>
                                    <p *ngIf="!isEditEducation">{{ item.startDate }} - {{ item.finishDate }}</p>
                                    <li *ngIf="isEditEducation && i != person.educations.length - 1"> {{ item.name }} </li>
                                    <input *ngIf="isEditEducation && i == person.educations.length - 1" [(ngModel)]="item.name" type="text">
                                </div>
                               </ul>
                               <div>
                                <button (click)="publishNewEducation()" *ngIf="showEducationDoneButton()"
                                style="color: white; 
                                width: 100px; 
                                border: none; 
                                border-radius: 4px; 
                                background-color: #fb246a;
                                padding: 5px;
                                margin-top: 18px;
                                ">DONE</button>
                                <button (click)="saveEducation()" *ngIf="!showEducationDoneButton()" 
                                style="color: white;  
                                display: inline-block;
                                width: 100px; 
                                border: none; 
                                border-radius: 4px; 
                                background-color: #fb246a;
                                padding: 5px;
                                margin-top: 18px;">SAVE</button>
                               </div>
                            </div>


                            <div class="post-details2  mb-50">
                                <!-- Small Section Tittle -->
                               <div class="small-section-tittle">
                                   <h4 style="display: inline-block;">Experience</h4> 
                                   <button (click)="addNewExperience()"
                                   style="color: white;  
                                   display: inline-block;
                                   width: 100px; 
                                   border: none; 
                                   border-radius: 4px; 
                                   background-color: #fb246a;
                                   padding: 5px;
                                   margin-top: 18px;
                                   margin-left: 70%;
                                   ">+</button>
                               </div>
                              <ul>
                                <div *ngFor="let item of person.workingExperiences; index as i">
                                    <li *ngIf="!isEditExperience"> {{ item.name }} </li>
                                    <p *ngIf="!isEditExperience"> {{ item.description }} </p>
                                    <p *ngIf="!isEditExperience">{{ item.startDate }} - {{ item.finishDate }}</p>
                                    <li *ngIf="isEditExperience && i != person.workingExperiences.length - 1"> {{ item.name }} </li>
                                    <input *ngIf="isEditExperience && i == person.workingExperiences.length - 1" [(ngModel)]="item.name" type="text">
                                </div>
                              </ul>
                              <div>
                               <button (click)="publishNewExperience()" *ngIf="showExperienceDoneButton()"
                               style="color: white; 
                               width: 100px; 
                               border: none; 
                               border-radius: 4px; 
                               background-color: #fb246a;
                               padding: 5px;
                               margin-top: 18px;
                               ">DONE</button>
                               <button (click)="saveExperience()" *ngIf="!showExperienceDoneButton()" 
                               style="color: white;  
                               display: inline-block;
                               width: 100px; 
                               border: none; 
                               border-radius: 4px; 
                               background-color: #fb246a;
                               padding: 5px;
                               margin-top: 18px;">SAVE</button>
                              </div>
                           </div>









                           <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4 style="display: inline-block;">Skills</h4> 
                               <button (click)="addNewSkill()"
                               style="color: white;  
                               display: inline-block;
                               width: 100px; 
                               border: none; 
                               border-radius: 4px; 
                               background-color: #fb246a;
                               padding: 5px;
                               margin-top: 18px;
                               margin-left: 70%;
                               ">+</button>
                           </div>
                          <ul>
                            <div *ngFor="let item of person.skills index as i">
                                <li *ngIf="!isEditSkill"> {{ item.name }} </li>
                                <li *ngIf="isEditSkill && i != person.skills.length - 1"> {{ item.name }} </li>
                                <input *ngIf="isEditSkill && i == person.skills.length - 1" [(ngModel)]="item.name" type="text">
                            </div>
                          </ul>
                          <div>
                           <button (click)="publishNewSkill()" *ngIf="showSkillDoneButton()"
                           style="color: white; 
                           width: 100px; 
                           border: none; 
                           border-radius: 4px; 
                           background-color: #fb246a;
                           padding: 5px;
                           margin-top: 18px;
                           ">DONE</button>
                           <button (click)="saveSkill()" *ngIf="!showSkillDoneButton()" 
                           style="color: white;  
                           display: inline-block;
                           width: 100px; 
                           border: none; 
                           border-radius: 4px; 
                           background-color: #fb246a;
                           padding: 5px;
                           margin-top: 18px;">SAVE</button>
                          </div>
                       </div>














                       <div class="post-details2  mb-50 col-lg-12">
                        <!-- Small Section Tittle -->
                       <div class="small-section-tittle">
                           <h4 style="display: inline-block;">Skills</h4> 
                            <div style="display: flex;">
                                <a data-bs-toggle="modal" href="#exampleModalToggle" role="button"
                                style="color: white;  
                                display: inline-block;
                                background-color: #fb246a;
                                margin-top: 18px;
                                margin-left: 70%;
                                ">+</a>
                                <a routerLink="/persons/specify-profile/skills/edit/{{person.id}}"
                                style="color: white;  
                                display: inline-block;
                                background-color: #fb246a;
                                margin-top: 18px;
                                margin-left: 1%;
                                ">edit</a>
                            </div>
                       </div>
                      <ul>
                        <div *ngFor="let item of person.skills; index as i">
                            <li *ngIf="!isEditSkill"> {{ item.name }} </li>
                            <li *ngIf="isEditSkill && i != person.skills.length - 1"> {{ item.name }} </li>
                            <input *ngIf="isEditSkill && i == person.skills.length - 1" [(ngModel)]="item.name" type="text">
                        </div>
                      </ul>
                      <div>
                       <button (click)="publishNewSkill()" *ngIf="showSkillDoneButton()"
                       style="color: white; 
                       width: 100px; 
                       border: none; 
                       border-radius: 4px; 
                       background-color: #fb246a;
                       padding: 5px;
                       margin-top: 18px;
                       ">DONE</button>
                       <button (click)="saveExperience()" *ngIf="!showExperienceDoneButton()" 
                       style="color: white;  
                       display: inline-block;
                       width: 100px; 
                       border: none; 
                       border-radius: 4px; 
                       background-color: #fb246a;
                       padding: 5px;
                       margin-top: 18px;">SAVE</button>
                      </div>
                   </div>











                       <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Show a second modal and hide this one with the button below.
                            </div>
                            <div class="modal-footer">
                              <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <!-- <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a> -->








                        </div>

                        

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <img width="310px"  src="C:\Users\Linton\Desktop\1122.jpg" alt="">
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <!-- <div class="small-section-tittle">
                               <h4>Company Information</h4>
                           </div>
                              <span>Colorlib</span>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->
                            <ul>
                                <li>Skype: <span>{{person.skype}} </span></li>
                                <li>Web : <span> {{person.website}}</span></li>
                                <li>Email: <span>{{person.email}}</span></li>
                                <li>Phone: <span>{{person.phone}}</span></li>
                            </ul>
                       </div>
                    </div>
                </div>
                <!-- <button routerLink="/persons/profile/view/{{person.id}}"
                style="color: white;  
                display: inline-block;
                width: 100px; 
                border: none; 
                border-radius: 4px; 
                background-color: #fb246a;
                padding: 5px;
                margin-top: 18px;
                margin-left: 100%;
                ">UPDATE</button> -->
            </div>
        </div>
    </main>