<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Contact us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Hero Area End -->
<!-- ================ contact section start ================= -->
<section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">Get in Touch</h2>
                </div>
                <div class="col-lg-12">
                    <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" [(ngModel)] ="person.name" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'name'" placeholder="name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" [(ngModel)] ="person.lastName" name="lastName" id="lastName" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'lastName'" placeholder="lastName">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" [(ngModel)] ="person.email" name="email" id="email" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'email'" placeholder="email">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" [(ngModel)] ="person.about" name="about" id="about" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'about'" placeholder="about">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" [(ngModel)] ="person.skype" name="skype" id="skype" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'skype'" placeholder="skype">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" [(ngModel)] ="person.phone" name="phone" id="phone" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'phone'" placeholder="phone">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" [(ngModel)] ="person.website" name="website" id="website" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'website'" placeholder="website">
                                </div>
                            </div>
                          
                        </div>
                        <div class="form-group mt-3">
                            <button (click)="createSubmit()" class="button button-contactForm boxed-btn">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>