


<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
            </div>
        </div>
    </div>
</div>

<body>
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>UI/UX Designer</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div *ngIf="!loading && isNotEmpty()" class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <!-- <a href="#"><img width="85px"  src="C:\Users\Linton\Desktop\1122.jpg" alt=""></a> -->
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{person.name}}</h4>
                                    </a>
                                    <ul>
                                        <li>Creative Agency</li>
                                        <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                        <li>$3500 - $4000</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Description</h4>
                                </div>
                                <p>It is a long established fact that a reader will beff distracted by vbthe creadable content of a page when looking at its layout. The pointf of using Lorem Ipsum is that it has ahf mcore or-lgess normal distribution of letters, as opposed to using, Content here content here making it look like readable.</p>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Required Knowledge, Skills, and Abilities</h4>
                                </div>
                               <ul>
                                   <li>System Software Development</li>
                                   <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>
                                   <li>Research and code , libraries, APIs and frameworks</li>
                                   <li>Strong knowledge on software development life cycle</li>
                                   <li>Strong problem solving and debugging skills</li>
                               </ul>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4 style="display: inline-block;">Experience</h4> 
                                    <button (click)="addNewExperience()"
                                    style="color: white;  
                                    display: inline-block;
                                    width: 100px; 
                                    border: none; 
                                    border-radius: 4px; 
                                    background-color: #fb246a;
                                    padding: 5px;
                                    margin-top: 18px;
                                    margin-left: 70%;
                                    ">+</button>
                                </div>
                               <ul>
                                <div *ngFor="let item of person.experiences.workingExperiences; index as i">
                                    <li *ngIf="!isEdit"> {{ item.name }} </li>
                                    <li *ngIf="isEdit && i != person.experiences.workingExperiences.length - 1"> {{ item.name }} </li>
                                    <input *ngIf="isEdit && i == person.experiences.workingExperiences.length - 1" [(ngModel)]="item.name" type="text">

                                </div>
                               </ul>
                               <div>
                                <button (click)="publishNewExperience()" *ngIf="showDoneButton()"
                                style="color: white; 
                                width: 100px; 
                                border: none; 
                                border-radius: 4px; 
                                background-color: #fb246a;
                                padding: 5px;
                                margin-top: 18px;
                                ">DONE</button>
                                <button (click)="saveInDatabase()" *ngIf="!showDoneButton()" 
                                style="color: white;  
                                display: inline-block;
                                width: 100px; 
                                border: none; 
                                border-radius: 4px; 
                                background-color: #fb246a;
                                padding: 5px;
                                margin-top: 18px;">SAVE</button>
                               </div>

                               

                               <!-- <button (click)="saveInDatabase()"  
                                    style="color: white; 
                                    width: 100px; 
                                    border: none; 
                                    border-radius: 10px; 
                                    background-color: #fb246a;
                                    margin-top: 5px;
                                    padding: 5px;">SAVE</button> -->

                          
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <img width="310px"  src="C:\Users\Linton\Desktop\1122.jpg" alt="">
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Company Information</h4>
                           </div>
                              <span>Colorlib</span>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <ul>
                                <li>Name: <span>Colorlib </span></li>
                                <li>Web : <span> colorlib.com</span></li>
                                <li>Email: <span>carrier.colorlib@gmail.com</span></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </main>