<section class="contact-section">
    <div class="container col-sm-4">

            
        

            <div class="post-details2 mb-50">
                <!-- Small Section Tittle -->
               <div class="small-section-tittle">
                   <div>
                    <div style="display: flex;">
                        <h4>Skills</h4> 
                        <a data-bs-toggle="modal" href="#exampleModal" role="button"
                        style="margin-left:auto; color: #fb246a;" ><i class="fa fa-add" style="font-size:20px"></i></a>
                    </div>
                    </div>
               </div>
              <ul>
                <div>
                    <div *ngFor="let item of person.skills; index as i">
                        <ul style="display: flex; margin: 0; padding: 0;">
                            <li *ngIf="!isEditSkill" style="padding-top: 5px;"> {{ item.name }}</li>
                            <li style="margin-left: auto; padding: 0; list-style: none;">
                                <a (click)="setSkills(item)" data-toggle="modal" data-target="#exampleModal"
                                style="margin-left:auto; color: #fb246a;" ><i class="fa fa-edit" style="font-size:20px"></i></a>
                            </li>
                        </ul>
                        <li style="list-style: none;">1111111</li>
                        <li style="list-style: none;">2222222</li>
                        <li style="list-style: none;">3333333</li>
                        <hr>
                    </div>
                </div>
              </ul>
           </div>
    


            
     </div>
</section>



 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Skills</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
          <div class="modal-body">
            <input [(ngModel)]="skills.id" [value]="skills.id" class="modalTextInput form-control" placeholder="Text Here" />
          </div>
          <div class="modal-body">
            <input [(ngModel)]="skills.personsId" [value]="skills.personsId" class="modalTextInput form-control" placeholder="Text Here" />
          </div>
          <div class="modal-body">
            <input [(ngModel)]="skills.name" [value]="skills.name" class="modalTextInput form-control" placeholder="Text Here" />
          </div>
          <div class="modal-footer">
            <button (click)="updateSkill()" type="submit" class="saveEdit btn btn-primary">Save changes</button>
          </div>
     
      </div>
    </div>
  </div> 

  
  
