<h1>Edit Page</h1>

<form (submit)="submitUpdate()">
    <div class="mb-2">
        <input [(ngModel)]="person.id" [value]="person.id" name="id" class="form-control" placeholder="Id" type="text">
    </div>
    <div class="mb-2">
        <input [(ngModel)]="person.usersId" [value]="person.usersId" name="usersid" class="form-control" placeholder="UsersId" type="text">
    </div>
    <div class="mb-2">
        <input [(ngModel)]="person.name" [value]="person.name" name="name" class="form-control" placeholder="Name" type="text">
    </div>

    <div class="mb-2">
        <input class="btn btn-danger" value="Update" type="submit">
        <a routerLink="/" class="btn btn-dark ms-2">Close</a>
    </div>
</form>
