


<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
            </div>
        </div>
    </div>
</div>

<body>
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>UI/UX Designer</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div *ngIf="!loading && isNotEmpty()" class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <!-- <a href="#"><img width="85px"  src="C:\Users\Linton\Desktop\1122.jpg" alt=""></a> -->
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{person.name}} {{person.lastName}}</h4>
                                    </a>
                                    <ul>
                                        <li>Creative Agency</li>
                                        <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                        <li>$3500 - $4000</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>About Me</h4>
                                </div>
                                <p>{{person.about}}</p>
                            </div>

                            <div class="post-details2  mb-50">
                                <div class="small-section-tittle">
                                    <h4>Education</h4>
                                </div>
                               <ul>
                                <div *ngFor="let item of person.educations; index as i">
                                    <li *ngIf="!isEdit"> {{ item.name }}</li>
                                    <p *ngIf="!isEdit"> {{ item.description }} </p>
                                    <p *ngIf="!isEdit">{{ item.startDate }} - {{ item.finishDate }}</p>
                                    <li *ngIf="isEdit && i != person.educations.length - 1"> {{ item.name }} </li>
                                    <input *ngIf="isEdit && i == person.educations.length - 1" [(ngModel)]="item.name" type="text">
                                </div>
                               </ul>
                            </div>

                            <div class="post-details2  mb-50">
                                <div class="small-section-tittle">
                                    <h4>Working Experiences</h4>
                                </div>
                               <ul>
                                <div *ngFor="let item of person.workingExperiences; index as i">
                                    <li *ngIf="!isEdit"> {{ item.name }} </li>
                                    <p *ngIf="!isEdit"> {{ item.description }} </p>
                                    <p *ngIf="!isEdit">{{ item.startDate }} - {{ item.finishDate }}</p>
                                    <li *ngIf="isEdit && i != person.workingExperiences.length - 1"> {{ item.name }} </li>
                                    <input *ngIf="isEdit && i == person.workingExperiences.length - 1" [(ngModel)]="item.name" type="text">
                                </div>
                               </ul>
                            </div>

                            <div class="post-details2  mb-50">
                                <!-- Small Section Tittle -->
                               <div class="small-section-tittle">
                                   <h4>Skills</h4>
                               </div>
                              <ul>
                               <div *ngFor="let item of person.skills; index as i">
                                   <li *ngIf="!isEdit"> {{ item.name }} </li>
                                   <li *ngIf="isEdit && i != person.skills.length - 1"> {{ item.name }} </li>
                                   <input *ngIf="isEdit && i == person.skills.length - 1" [(ngModel)]="item.name" type="text">
                               </div>
                              </ul>
                           </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <img width="310px"  src="C:\Users\Linton\Desktop\1122.jpg" alt="">
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <!-- <h4>Company Information</h4> -->
                           </div>
                              <!-- <span>About</span>
                              <p>{{ person.about }}</p> -->
                            <ul>
                                <li>Skype: <span>{{person.skype}} </span></li>
                                <li>Web : <span> {{person.website}}</span></li>
                                <li>Email: <span>{{person.email}}</span></li>
                                <li>Phone: <span>{{person.phone}}</span></li>
                            </ul>
                       </div>
                    </div>
                </div>
                <button routerLink="/persons/profile/edit/{{person.id}}"
                style="color: white;  
                display: inline-block;
                width: 100px; 
                border: none; 
                border-radius: 4px; 
                background-color: #fb246a;
                padding: 5px;
                margin-top: 18px;
                margin-left: 100%;
                ">EDIT</button>
            </div>
        </div>
    </main>